 .svn
*.pyc
.settings
.project
.pydevproject
.leaderf
.DS_Store
*.log
*.out
*.aux
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.xdv
*.ipynb_checkpoints
*.pyc
build
draft
out
nohup.out
target
node_modules
npm-*
dist
tmp
__pycache__
# Ignore user specific files in Xcode Project
xcuserdata
user_config.h
.ccls-cache
