*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.hex
*.tra
*.dep
*.iex
*.map
*.swp
.DS_Store
board/**/build
board/**/.settings
board/*/KEIL/*/DebugConfig/
board/*/obj/
board/*/KEIL/*/Obj/
board/*/KEIL/*/RTE/
board/*/KEIL/*/*.uvguix.*
board/*/KEIL/*/EventRecorderStub.scvd
board/*/KEIL/*/*/*.htm
board/*/KEIL/*/*/*.build_log.htm
board/**/settings/*
.vscode
