<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arc.embeddedcdt.idleNative">
    <stringAttribute key="com.arc.embeddedcdt.ashling_tdesc_path" value="C:\AshlingOpellaXDforARC\opella-arcem-tdesc.xml"/>
    <stringAttribute key="com.arc.embeddedcdt.ashling_xml_path" value="C:\AshlingOpellaXDforARC\arc-em-cpu.xml"/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_app_console" value="false"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_com_ashling_port" value="COM1"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_com_oepnocd_port" value="COM1"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_com_port" value="COM3"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_custom_gdbsever_bin_path" value=""/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_custom_gdbsever_command" value=""/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_ashling_default" value="true"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_nsim_default" value="true"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_nsimprops_default" value="false"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_nsimtcf_default" value="false"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_openocd_default" value="true"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_tools" value="nSIM"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_tools_ashling_path" value="C:\AshlingOpellaXDforARC"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_tools_nsim_path" value="C:/ARC/nSIM/nSIM/bin/nsimdrv.exe"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_external_tools_oepnocd_path" value="C:/arc_gnu/share/openocd/scripts/board/snps_em_sk.cfg"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_gdb_address" value="localhost"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_init_commands" value=""/>
    <intAttribute key="com.arc.embeddedcdt.debugger_launch_file_format_version" value="2"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_openocd_bin_path" value="C:/arc_gnu/bin/openocd.exe"/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_putty_default" value="true"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_run_commands" value=""/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_use_nsimenableexpt" value="true"/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_use_nsimhostlink" value="true"/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_use_nsiminvaintruexpt" value="true"/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_use_nsimjit" value="false"/>
    <stringAttribute key="com.arc.embeddedcdt.debugger_use_nsimjitthread" value="1"/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_use_nsimmemoexpt" value="true"/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_use_nsimprops" value="false"/>
    <booleanAttribute key="com.arc.embeddedcdt.debugger_use_nsimtcf" value="true"/>
    <stringAttribute key="com.arc.embeddedcdt.ftdi_core" value="DEFAULT_CORE"/>
    <stringAttribute key="com.arc.embeddedcdt.ftdi_device" value="CUSTOM"/>
    <booleanAttribute key="com.arc.embeddedcdt.load_elf" value="true"/>
    <stringAttribute key="com.arc.embeddedcdt.nsim_prop_file" value=""/>
    <stringAttribute key="com.arc.embeddedcdt.nsim_tcf_file" value="C:/Users/jingru/Documents/git/gitlab/embarc/embarc_osp/board/nsim/configs/10/tcf/arcem.tcf"/>
    <booleanAttribute key="com.arc.embeddedcdt.nsim_use_default_working_dir" value="true"/>
    <stringAttribute key="com.arc.embeddedcdt.nsim_working_directory" value="${workspace_loc:blinky}"/>
    <stringAttribute key="com.arc.embeddedcdt.timestamp" value="1584601942256"/>
    <booleanAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB" value="true"/>
    <listAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB_LIST"/>
    <stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="arc-elf32-gdb"/>
    <stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=".gdbinit"/>
    <listAttribute key="org.eclipse.cdt.debug.mi.core.SOLIB_PATH"/>
    <booleanAttribute key="org.eclipse.cdt.debug.mi.core.STOP_ON_SOLIB_EVENTS" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.mi.core.breakpointsFullPath" value="false"/>
    <stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="org.eclipse.cdt.debug.mi.core.standardCommandFactory"/>
    <stringAttribute key="org.eclipse.cdt.debug.mi.core.protocol" value="mi"/>
    <booleanAttribute key="org.eclipse.cdt.debug.mi.core.verboseMode" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.AUTO_SOLIB" value="true"/>
    <listAttribute key="org.eclipse.cdt.dsf.gdb.AUTO_SOLIB_LIST"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="arc-elf32-gdb"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_ON_FORK" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.EXTERNAL_CONSOLE" value="false"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.GDB_INIT" value=".gdbinit"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.NON_STOP" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.REVERSE" value="false"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.REVERSE_MODE" value="UseSoftTrace"/>
    <listAttribute key="org.eclipse.cdt.dsf.gdb.SOLIB_PATH"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.TRACEPOINT_MODE" value="TP_NORMAL_ONLY"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.arc.embeddedcdt.RemoteGDBDebugger"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
    <booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="board_main"/>
    <booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
    <stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;contentList/&gt;"/>
    <stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;globalVariableList/&gt;&#13;&#10;"/>
    <stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList/&gt;&#13;&#10;"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="./build/TencentOS_tiny.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="blinky"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_GDBSERVER_COMMAND" value="gdbserver"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_GDBSERVER_PORT" value="49105"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/blinky"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;&#13;&#10;"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
