name: Format Docs and Code
on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: AutoCorrect
      uses: huacnlee/autocorrect-action@main